<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

/* body */
body {
    background: url("http://www.chumontreal.qc.ca/sites/default/files//bg-molecule-130206.jpg") scroll 51% top transparent !important;
}

/* menu d'action utilisateur */
.moodle-actionmenu[data-enhanced].show.nowrap-items .menu > li {
    width : 100%;
}

#action-menu-0-menu {
    background-color: #E7E7E7;
}

.moodle-actionmenu[data-enhanced].show .menu.align-tr-br{
    padding: 0px !important;
 }

.cusMenu .moodle-actionmenu[data-enhanced].show .menu a {  
    margin: 2px;
}


/* menu d'action utilisateur :hover*/
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background-color: #6dcff6;
    transition: background-color 0.1s ease-out;
}

/* menu d'action utilisateur */
.moodle-actionmenu[data-enhanced].show .menu {
    background-color : #202628;
}


/* menu d'action utilisateur */
.jsenabled .usermenu .moodle-actionmenu[data-enhanced] .menu-action-text {
    display: inline;   
}


/* Boite d’information du cours - accueil */
.coursebox.clearfix.item {
    min-height:350px;
}

/* fil d'ariane */
ul.breadcrumb {
    font-size: 0.9em;
}


/* connexion pop-up */
.cd-user-modal-container .cd-switcher li {
    width: 100% !important;
}


/* block login dans la homepage au widh 100% */
.owl-item > .block_login .content {
    max-width: none;
    overflow-y: hidden !important;
}

/* Marketing Spot */
#b-bottom #info-main #info-main1 .img-section {
    background-color : #00a88e;
}
#b-bottom #info-main #info-main2 .img-section {
    background-color : #6dcff6;
}
#b-bottom #info-main #info-main3 .img-section {
    background-color : #f0af13;
}


/* Course Search Box */
#page-site-index .box.mdl-align #coursesearch .coursesearchbox {
    /*background-color: inherit; */
}

.coursesearchbox input[type="submit"] { 
    /*background-color: inherit; !important; */
}

/* Social media links */
#bottom-footer-wrapper .container-fluid .footer-right {
    display: inherit;
}

/* bouton fleche à haut */
#backTop {
   /* background-color: inherit; */
}


/* Mensages d'alerte */
.alert-success {
    color: #f0af13;
    background-color: #fffcd5;
    border-color: #f0af13;
}

/* entete du blocks */
#page-site-index .block .header {
    /* background-color: inherit; */
}

/* Calandrier title calandrier */
.block .minicalendar th abbr[title] {  
    color: #00a88e;    
}

/* Calandrier title calandrier homepage */
#page-site-index .block .minicalendar abbr[title] {
    color: #00a88e;  
}


/* Calandrier week-end */
.block .minicalendar td.weekend {
    color: #c7a252;    
}

/* block de optiones */
#page .block .header {
    border-left: 3px solid #00a88e;
}

/* block de navigation */
#page aside#block-region-side-pre .block  {
    border: 1px #F3F3F3 solid;    
}

/* block de navigation hover */
#block-region-side-pre .block:hover {
    background: rgba(0, 0, 0, 0.02);
    transition: all 0.3s ease;
}
    
#dock .dockedtitle {
    background-color: #00a88e;
}


/* block border arrondi header */ 
#page-site-index .block .header {
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    background-color: #00a88e;
}

/* block border arrondi content */ 
#page-site-index .block .content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* title block */
#page-site-index .block .header h2 {
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    font-style:italic;
    font-weight:bold;
}    


/* shadow */

#page-site-index .block .content {
    background-color: white;
    -webkit-box-shadow: 0px 3px 13px #f0f0f0;
    -moz-box-shadow: 0px 3px 13px #f0f0f0;
    box-shadow: 0px 3px 13px #f0f0f0; 
}



/* iconos */
.block .header .title h2:before {
    color: #FFF;
    display: block;
    float: left;
    font-family: FontAwesome;
    margin-left: -0.5em;
    margin-right: 0.5em;
    text-align: center;
    width: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.block_settings .header .title h2:before, .block_admin_bookmarks .header .title h2:before {
    background-color: #004675;
    content: "\f085";
}

